* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
h1 {
	padding: 10px;
}

header {
	background-color: rgb(1, 22, 79);
	display: flex;
	align-items: center;
	height: 5rem;
	padding: 0 50px;
	color: rgb(167, 143, 141);
}

header h1 {
	margin-right: 100px;
	padding: 0 20px;
	border: solid rgb(167, 143, 141);
}
header div {
	display: flex;
}
header h2 {
	margin: 0 50px;
	padding: 10px 50px;
}

#basic:hover,
#intermediate:hover,
#advance:hover {
	cursor: pointer;
	background-color: rgb(167, 143, 141);
	color: rgb(1, 22, 79);
}

.set {
	background-color: rgb(167, 143, 141);
	color: rgb(1, 22, 79);
}

#chosen {
	height: 80px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.display {
	margin: 10px;
	height: 60vh;
	display: none;
}
.screen .left {
	background-color: rgb(242, 189, 148);
	color: rgb(5, 23, 79);
	/* color: white; */
	width: 50%;
	padding: 40px;
}

.screen .right {
	background-color: rgb(1, 22, 79);
	color: rgb(245, 175, 28);
	width: 50%;
	padding: 10px;
}

/* basic */

/* left */

.left .common {
	height: 100%;
	padding: 50px;
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: column;
}

label,
input,
button {
	height: 40px;
	display: flex;
	padding: 0 20px;
	align-items: center;
}
button {
	background-color: rgb(1, 22, 79);
	color: rgb(245, 175, 28);
	border: 1px solid rgb(1, 22, 79);
	border-radius: 20px;
}

button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	outline: none;
	overflow: hidden;
}
span {
	margin: 0 20px;
}
input {
	margin: 0 20px;
}
.common .button {
	margin-top: 50px;
	margin: auto;
}

/* right */
.right .common {
	padding: 0 20px;
	display: none;
}
table {
	color: rgb(245, 175, 28);
	border-collapse: collapse;
	width: 100%;
	height: 50px;
}
table td {
	padding-left: 20px;
}

td,
th {
	border: 1px solid rgb(242, 189, 148);
	height: 30px;
	width: 120px;
}

.common .total {
	display: flex;
	height: 60px;
}
.total h3 {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.total p {
	width: 50%;
	font-size: x-large;
	display: flex;
	align-items: center;
	justify-content: center;
}

#share--info {
	display: flex;
}

/* #right--Screen .advance table .chipped:hover {
	background-color: white;
	color: black;
	border: solid red;
} */
